.body {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0.5rem;
  margin-bottom: 60px;
}

.cart-page {
  display: flex;
  width: 60%;
  margin: 40px 0;
  max-width: 98rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: -1px 7px 17px -7px rgb(0 0 0 / 75%);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}

#cart-text {
  position: absolute;
  top: 105px;
  font-size: 18px;
  border-bottom: 2px solid;
  margin-left: -10px;
}

#clear-all-btn {
  position: absolute;
  top: 100px;
  right: 60px;
  padding: 5px 18px;
  background: black;
  color: white;
  border-radius: 5px;
}

.cart-page_img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}

.cart-page_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.cart-page_img::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(79, 172, 254, 0.8),
    rgba(0, 242, 254, 0.8)
  );
}

#day,
#date {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin: 0.5rem 0.5rem;
}

.cart-page_title {
  margin: 10px;
  text-transform: uppercase;
  color: #4facfe;
}

.cart-page_price {
  margin: 10px;
  color: black;
}

.cart-page_text {
  margin: 10px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.cart-page_cta {
  display: inline-block;
  padding: 0.5rem;
  letter-spacing: 1px;
  margin: 10px;
  color: #fff;
  background: black;
}

#cart-page_cta {
  width: 70px;
  display: inline-block;
  padding: 0.4rem;
  letter-spacing: 1px;
  margin: 10px;
  position: relative;
  top: -2px;
  color: #fff;
  background: black;
}

.cart-page_info {
  display: flex;
}

#orders-img {
  width: 250px;
  height: 300px;
  object-fit: scale-down;
}

@media screen and (max-width: 1068px) {
  .cart-page {
    max-width: 80rem;
  }

  .cart-page_img {
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 868px) {
  .cart-page {
    max-width: 70rem;
  }

  .cart-page_info {
    display: block;
  }
}

@media screen and (max-width: 868px) {
  .cart-page {
    padding: 2.5rem;
    flex-direction: column;
  }

  .cart-page_img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
  }

  .checkout span{
    font-size:20px;

  }
  .checkout .checkout-total{
    position: absolute;
    left: 150px;
  }

  #clear-all-btn{
    margin-left: 10px;
  }
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #141c3a;
  color: white;
  padding: 10px;
  font-size: 25px;
  position: fixed;
  bottom: 0;
  margin-top: 15px;
}

#checkout {
  position: fixed;
  bottom: 0;
}

#checkout span {
  margin-left: 10px;
}

.checkout-total {
  position: absolute;
  left: 180px;
}

#checkout-btn {
  margin: 0 8px 5px 20px;
  padding: 10px 20px;
}
